*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /*variaveis*/
  :root{
    --text-color: white;
      --bg2-url: url(./fundo.jpg);
      --stroke-color: rgba(255, 255, 255, 0.5);
      --surface-color: rgba(6, 102, 105, 0.548);
      --surface-color-hover: rgba(5, 54, 56, 0.548);
      --icons-color:rgba(5, 66, 68, 0.548);
      --switch-bg-url:url(./assets/poke.svg);
    }

    .dark {
        --text-color: cyan;
        --bg2-url:url(./fundo-dark.jpg);
        --surface-color: rgba(6, 102, 105, 0.288);
        --stroke-color: rgba(255, 255, 255, 0.5);
        --surface-color-hover: rgb(0, 39, 145);
        --icons-color: rgb(0, 39, 145);
        --switch-bg-url:url(./assets/ultrbll.svg);
    }
       /*fim das variaveis*/

       body {
        background: var(--bg2-url) no-repeat top center/cover;
      /*ñ mistura as duas coisas*/
      color: aqua;
      border:none
      }
      
      body *{
        font-family: "inter", sans-serif;
        color: var(--text-color);
      }
      

      #sapo2 img{

        width: 150px;
        display: block;
        margin: auto;
      } 
      
      .dark #sapo2 img{
          width: 150px;
          display:block;
          margin: auto;
        }



      #meio2 {
        width: 360px;
      margin: 56px auto 0px auto;
      padding: 0 24px;
      }

      #profile2{
        text-align: center;
      padding: 40px;
      }
      #profile2 img{
        width: 112px;
      }
      #profile2 p{
        font-weight: 500;
        line-height: 24px;
        padding-top: 8px;
      }


      #switch2{
        position: relative;
        width: 64px;
        display: block;
        margin: 4px auto;
      }
      
      #switch2 button{
        width: 32px;
        height: 32px;
        background: var(--switch-bg-url) no-repeat center;
        border: 0;
        border-radius: 50%;
        position:absolute;
        z-index: 1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        animation: slide-out 0.5s;
      }
      
      
      .dark #switch2 button{
        animation: slide-in 0.5s forwards;
      }
      
      #switch button:hover{
        outline: 8px solid var(--icons-color);
      
      }
      
      
      #switch2 span{
        width: 64px;
        height: 24px;
        background: var(--surface-color);
        border: solid 1px var(--stroke-color);
        backdrop-filter: blur(4px);
        display: block;
        border-radius: 9999px;
      }
 
      ul{
        list-style:none;
        display: flex;
        flex-direction: column;
        gap: 16px;
      
        padding: 24 0px;
      }
      
      ul li a {
        border: outset var(--text-color) 1px;
        display: flex;
        justify-content: center;
      
        padding: 5px ;
      
        align-items: center;
        background: var(--surface-color);
        border: 4px outset var(--stroke-color);
        border-radius: 100px;
      
        backdrop-filter: blur(4px);  
      
        text-decoration:none;
        font-weight: bold;
      
        transition: all 0.2s;
        }
        ul li a:hover {
            background:var(--surface-color-hover);
            border: 1.5px solid white;
          
          
          
          } 
          
          @keyframes slide-in {
            from{
              left:0;
            }
            to {
              left: 50%;
            }
          }
        
          @keyframes slide-out{
            from {left: 50%;
            }
            to{
              left: 0;
            }
            }